#list-container {
    display: grid;
    justify-content: center;

    /*margin: 5;*/
    text-align: center;

    /*width: 1000px;*/
}
.container__main {
    display: grid;

    height: 940px;

    padding: 20px;

    /*margin-top: 5%;*/

    background-image: url(../images/priscilla-du-preez-6tCiSN8LX7w-unsplash.jpg);
    background-size: cover;
}

h1,
p,
#list-container input,
.input-tasks {

    font-family: "Montserrat Alternates", sans-serif;
}

.input-tasks {
    /*display: none;*/

    list-style-type: circle;

    color: white;
}

p,
#list-container input {
    color: #dcb6b5;
}

h1 {

    color: white;
    text-shadow: #7a6564 0 0 10px;
    font-weight: bold;
    font-style: normal;

    text-align: center;
    justify-content: center;
    align-items: center;

    padding-top: 5%;
    padding-right: 1%;
}

p {
    font-weight: 400;
    font-style: italic;

    text-align: center;
}

#list-container input {
    border: none;
    border-radius: 7px;
    color: white;
    background-color: rgb(220, 182, 181);

    width: 150px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;

}

#field-for-task {
    width: 400px;
    padding: 100px;
    margin: 10px;

    opacity: 0.7;
    text-align: center;

}

.buttons {
    display: flex;
    justify-content: center;

}

#creator {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.creator__link {
    text-align: center;
}

.creator__link img {
    width: 50px;
}

.creator__link-container {
    text-align: center;

    text-shadow: #7a6564 0 0 10px;
}

.completed {
    text-decoration: line-through;
}
